section:nth-child(odd) {
  background-color: var(--white);
}

/* Overrides the global rule to make even-numbered <section> elements white */
section:nth-child(even) {
  background-color: var(--white);
}